<% include partials/header %>
 
        <h2>Game Title: <%= title %></h2>
        <h3>Game Creator: <%= creator %></h3>
        
        <!-- Game will go here -->
        <div id="game">
            <p>You can't see the game because you are a loser.(get flashplayer)</p>
        </div>

<script type="text/javascript" src="/swf/src/swfobject.js"></script>
<script>
var el = document.getElementById("game");
swfobject.embedSWF("/games/<%= fileName %>", el, <%= width %>, <%= height %>, 10);
</script>
<% include partials/footer %>